<%- partial('common/head') %>
<body>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <% if (theme.customize.profile.enabled&&!isMatch(theme.customize.profileBlackList,page.path)) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>
            <section id="main" <%- page.layout==='html'?'style="width: 100%;"':''-%>><%- body %></section>
            <% if (theme.customize.sidebar&&!isMatch(theme.customize.sidebarBlackList,page.path)) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
</body>
</html>